//* Colours *//

// primary //
$primary: #e34a4a
$dark-primary: #d13423
$light-primary: #F15B5B
$accent: #68ad86
$dark-accent: #538a6b

//greys
$light-grey: #E0E0E0
$med-grey: #9E9E9E
$dark-grey: #616161
$slate: #242424


//* Fonts *//
$proxima-nova-soft-reg :'proxima-nova-soft-reg', sans-serif
$proxima-nova-soft-bold :'proxima-nova-soft-bold', sans-serif
