//* Colours *//

// primary //
$primary: #1f2a37
$accent: #913d55
$yellow: #f1dd34

//greys
$light-grey: #E0E0E0
$med-grey: #9E9E9E
$dark-grey: #616161
$slate: #242424


//* Fonts *//
$font-karla: 'Karla', sans-serif

//* Breakpoints *//
$daddy-bear: 1066px
$middle-bear: 860px
$baby-bear: 765px
$mummy-bear: 1054px
