#contact-me
  background: $primary url('../../assets/img/map-texture-white.png')
  background-size: 50%
  display: flex
  color: white
  padding: 5em 0
  transition: 0.5s linear
  cursor: pointer
  text-align: center
  a
    text-align: center
    font-size: 50px
    color: lighten($accent, 10%)
    text-decoration: none
    +mummy-bear
      font-size: 45px
    +baby-bear
      font-size: 25px
  &:hover
    background: lighten($primary, 10%) 
    color: white
    a
      color: white
    h1
      color: #dbebe7




.contact-me-inner
  justify-content: space-around
  display: flex
  flex-flow: row wrap
  margin: auto
  h1
    padding-bottom: 20px
    color: white
