#about-me

  height: 100vh
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: center


  h1
    width: 100%
    margin-bottom: 0.3em

.intro
  display: flex
  flex-flow: row wrap
  align-items: center
  justify-content: center
  width: 100%



.bio
  order: 1
  width: 50%
  +mummy-bear
    width: 55%
  +middle-bear
    width: 48%
    font-size: 18px
    padding-top: 50px
    h1
      font-size: 30px
      +tiny-baby-bear
        font-size: 20px
  +baby-bear
    width: 90%

  p
    margin: 0
    padding: 0.5em 0
    padding-right: 40px
  // add padding in with media query

.well-versed
  padding-top: 10px
  margin-top: 0.5em
  margin-bottom: 0.5em
  li
    text-decoration: none
    list-style: none
    margin: 0
    padding: 0px 0px
    ul
      padding: 0
      margin: 0
      padding-top: 5px
  +baby-bear
    margin-top: 1em
    margin-top: 1em



.portrait
  order: 2
  width: 25%
  +mummy-bear
    width: 35%
    padding-left: 10px
  +middle-bear
    width: 40%



  img
    width: 100%
    border: 30px solid white
    +baby-bear
      display: none

.fav-emojis
  padding-top: 1em
  img
    width: 50px
    border: 0
.emojis
  padding-top: 15px

.typing-text
  opacity: 1
  +tiny-baby-bear
    font-size: 50px
