
.cross
  margin: 20px 0 0 30px
  position: relative
  text-align: center
  width: 50px
  height: 50px
  border-radius: 50px
  background: lighten($cream, 35%)
  transition: 0.3s linear
  cursor: pointer
  font-size: 30px
  &:hover
    color: $accent
    background: lighten($cream, 20%)
.cross:after
  position: absolute
  top: 40%
  left: 40%
  content: ''
  width: 10px
  height: 10px
  background-image: url('../../assets/img/cross.svg')
  &:hover
    opacity: 0.9

#work
  min-height: 100vh
  padding: 50px 0 30px 0
  background: #eae6e1 url('../../assets/img/map-texture.png')
  background-size: 50%
  +baby-bear
    background-size: 100%
  border-bottom: 1px solid $light-grey
  h1
    padding: 0 0 0.2em 0.6em
    margin: 0
    width: 100%
    font-size: 22px
    text-transform: uppercase
    font-weight: 700
    letter-spacing: 0.1em


.portfolio-wrapper
  width: 80%
  margin: auto
  display: flex
  flex-flow: row wrap
  align-items: center
  justify-content: space-around
  +baby-bear
    width: 90%


.portfolio-piece
  width: 23%
  cursor: pointer
  opacity: 0
  transition: opacity 0.25s linear
  &.seen
    animation-name: fadeIn
    cursor: pointer
    animation-duration: 1s
    animation-delay: 1s
    animation-fill-mode: both
  padding-bottom: 23%
  position: relative
  margin-top: 15px
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05)

  transition: box-shadow 0.4s
  background: white
  +mummy-bear
    width: 48%
    padding-bottom: 48%
  +baby-bear
    width: 48%
    padding-bottom: 48%

  &:hover
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.3)



.portfolio-piece-inner
  position: absolute
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  flex-flow: row wrap
  a
    text-decoration: none

.project-name
  text-align: center
  height: 100px
  padding: 20px
  width: 100%
  font-size: 18px
  color: $primary
  position: relative
  +daddy-bear
    font-size: 23px
  +mummy-bear
    font-size: 26px
  +baby-bear
    font-size: 29px
  +tiny-baby-bear
    font-size: 19px

.project-type
  text-transform: uppercase
  font-weight: 700
  font-size: 16px
  letter-spacing: 1.5px
  text-align: center
  width: 100%
  padding: 10px
  color: $yellow
  +daddy-bear
    font-size: 19px
  +mummy-bear
    font-size: 18px
  +baby-bear
    font-size: 19px
  +tiny-baby-bear
    font-size: 13px

.project-type::after
  position: absolute
  height: 1px
  width: 40%
  background: $light-grey
  top: 70%
  left: 30%
  content: ''





#portfolio-piece-3
  .project-type
    color: $duck-egg

#portfolio-piece-4
  span
    font-size: 16px
    color: $med-grey
    font-style: italic
    font-weight: normal
    text-transform: lowercase
    +tiny-baby-bear
      font-size: 14px

#portfolio-piece-5
  .project-type
    color: $cream
#portfolio-piece-6
  width: 100%
  .project-type
    color: $light-blue
#portfolio-piece-7
  .project-type
    color: $duck-egg
#portfolio-piece-8
  .project-type
    color: lighten($accent, 20%)

// Styles for the portfolio pop up screen

.content-about-wrapper
  width: 70%
  margin: auto
  background: white

  b
    color: $duck-egg
    text-transform: uppercase

.content-desc
  font-size: 18px
  display: flex
  flex-flow: row wrap
  align-items: center
  justify-content: center
  +baby-bear
    font-size: 15px

  p
    margin: 0
    padding: 0
.Brief
  width: 100%

.my-role
  width: 40%
  margin-top: 0.5em
  +baby-bear
    width: 100%

.online
  text-align: right
  width: 60%
  align-items: flex-end
  +baby-bear
    width: 100%
    text-align: left
    margin-top: 1em

.browser-wrapper
  display: flex
  padding: 1em
  align-items: center
  justify-content: center
  flex-flow: row wrap



.browser
  position: relative
  width: 76%
  +baby-bear
    width: 100%

.browser-50
  width: 46%
  position: relative
  +tiny-baby-bear
    width: 100%

  img
    width: 100%
  .screen
    width: 99%
    margin: 0 0 0 2px





.extra
  width: 100%

.pos
  position: absolute

.screen
  width: 98.8%
  border-bottom-right-radius: 5px
  margin: 0 auto

  img
    width: 100%
    padding-bottom: 40px

.browser-header
  width: 100%
  min-height: 5.7vw
  +baby-bear
    min-height: 7.1vw

.browser-header-50
  width: 100%
  min-height: 3.3vw
  +tiny-baby-bear
    height: 6vh

.phone-header
  width: 100%
  min-height: 15vh

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1
.extra
  display: flex
  align-items: center
  flex-flow: row wrap
  justify-content: center
.mobile-compare
  width: 35%
  +tiny-baby-bear
    width: 100%
  img
    width: 100%

.advert-compare
  width: 40%
  +tiny-baby-bear
    width: 100%
  img
    width: 100%

.mobile-screen

  img
    width: 60%
    margin-left: 30px
    +tiny-baby-bear
      width: 100%
      margin: 0

.app-wrapper
  display: flex
  padding: 2em 1em 1em 1em
  align-items: center
  justify-content: space-around
  flex-flow: row wrap

.app
  width: 28%
  +baby-bear
    width: 100%
  img
    width: 100%
    height: auto

@-moz-document url-prefix()
  .portfolio-piece
    min-height: 214px
    +daddy-bear
      min-height: 214px
    +mummy-bear
      min-height: 300px
    +baby-bear
      min-height: 190px
    +tiny-baby-bear
      min-height: 180px
